.set_password {
  width: 100%;
  height: 550px;
  background-color: var(--search_bg);

  .container {
    width: 100%;
    height: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 80px 15px;

    .set_password_block {
      width: 100%;
      max-width: 520px;
      height: 320px;
      padding: 36px;
      margin: 0 auto;
      border-radius: 6px;
      box-shadow: 0 0 4px 1px rgba(0, 0, 0, .2);
      background-color: var(--body_bg);

      .get_password {
        display: flex;

        div {
          width: 48%;
          margin-right: 2%;

          input {
            width: 100%;
            height: 40px;
            outline: none;
            border-radius: 5px;
            border: 1px solid var(--search_border);
            padding-left: 10px;
            background-color: var(--search_bg);
            color: var(--new_products);
            margin-bottom: 20px;
          }

          input:focus {
            border-color: #eb1537;
          }

          input::placeholder {
            color: #9FAAB7;
          }

          label {
            font-size: 15px;
            color: var(--product_name);
            margin-bottom: 5px;
            cursor: pointer;
            font-weight: 600;
          }
        }
      }

      .confirm {
        display: flex;
        align-items: flex-start;

        input {
          margin-right: 15px;
          border-color: var(--path_color);
          background-color: var(--search_bg);
          cursor: pointer;
          margin-top: 5px;
          width: 20px;
          height: 15px;
        }

        input:checked {
          background-color: #eb1537;
        }

        label {
          font-size: 15px;
          color: var(--product_name);
          cursor: pointer;
          line-height: 1.2;
        }
      }

      .access_btn {
        margin-top: 30px;
      }

    }

  }

}

@media (max-width: 990px) {

  .set_password .container {
    max-width: 730px;
  }
}

@media (max-width: 770px) {

  .set_password .container {
    max-width: 540px;

    .set_password_block {
      max-width: 510px;
    }
  }
}

@media (max-width: 540px) {

  .set_password .container {

    .set_password_block {
      max-width: 100%;
      padding: 20px;
height: 380px;
      .get_password {
        flex-wrap: wrap;
        margin-bottom: 20px;

        div {
          margin-bottom: 10px;
          width: 100%;

          input {
            margin-bottom: 0;
          }

        }
      }

        .confirm input{
          width: 100%;
          max-width: 15px;
          height: 15px;
        }


    }


  }
}