.empty_selected_products {

  .container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;

    .selected_block .title{
      font-size: 18px;
      margin-bottom: 20px;
    }

  }
}


@media (max-width: 990px) {
  .empty_selected_products .container {

    max-width: 730px;
  }
}

@media (max-width: 770px) {
  .empty_selected_products .container {
    max-width: 540px;
  }
}
