.empty_compare {

  .container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;

    /* Compare title */
    .compare_title {
      font-size: 30px;
      color: var(--new_products);
      margin-bottom: 10px;
      font-weight: 700;
    }

    /* Empty icon */
    .empty_icon {
      text-align: center;

      .bar_chart {
        display: block;
        width: 150px;
        height: 150px;
        fill: #9FAAB7;
        margin: 45px auto;
      }

      .title {
        font-size: 26px;
        color: #9FAAB7;
        font-weight: 700;
        margin-bottom: 8px;
      }

      .text {
        font-size: 15px;
        color: #9FAAB7;
      }

    }
  }
}

@media (max-width: 990px) {
  .empty_compare .container {

    max-width: 730px;

  }
}

@media (max-width: 770px) {
  .empty_compare .container {

    max-width: 540px;

    .compare_title {
      font-size: 24px;
    }

    .empty_icon .title{
      font-size: 22px;
    }
  }
}
