.installment_plan {
  padding-bottom: 45px;

  .container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 20px;



    .prev.disabled,
    .next.disabled{
      opacity: .4;
      pointer-events: none;
    }

  }

}

@media (max-width: 990px) {

  .installment_plan .container {
    max-width: 730px;
  }

}

@media (max-width: 770px) {

  .installment_plan .container {
    max-width: 540px;
  }

}

@media (max-width: 575px) {

  .installment_plan {
    padding-bottom: 15px;
  }
}
