.many_selected {
  font-family: sans-serif;
  font-weight: 400;
  margin-bottom: 45px;

  .container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 20px;

  }

}

@media (max-width: 990px) {

  .many_selected .container {
    max-width: 730px;
  }

}

@media (max-width: 770px) {

  .many_selected .container {
    max-width: 540px;
  }

}

@media (max-width: 575px) {

  .many_selected {
    margin-bottom: 15px;

    .container {
      max-width: 100%;
    }
  }
}
