.may_be_need {
  padding-bottom: 45px;
  .container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 20px;

    .need {

      display: flex;

      .need_item:first-child {
        width: 380px;
        padding: 20px;
        background-color: #3167eb;
        border-radius: 8px;
        margin-right: 20px;
        margin-bottom: 10px;
        .question {
          font-size: 26px;
          margin-bottom: 20px;
          color: #fff;
          font-weight: 700;
        }

        .need_department {
          width: 100%;
          border-radius: 8px;
          padding: 10px;
          margin-bottom: 10px;
          font-size: 16px;
          color: #fff;
          cursor: pointer;

            i{
              color: #fff;
              font-size: 22px;
              margin-right: 20px;
          }

        }
        .need_department:hover{
          background-color: darken(#3167eb, 12%);
        }

      }

      .need_item:last-child{

        width: 800px;

        .prev.disabled,
        .next.disabled{
          opacity: .4;
          pointer-events: none;
        }

      }

    }
  }
}

@media (max-width: 1230px) {

 .may_be_need .container .need{

 .need_item:first-child{
   width: 33%;
   padding: 20px 10px;
 }


   .need_item:last-child{
     width: 66.66666%;
   }

 }
}



@media (max-width: 990px) {

  .may_be_need .container {
    max-width: 730px;
  }

}

@media (max-width: 770px) {

  .may_be_need .container {
    max-width: 540px;

    .need{
      display: block;

      .need_item:first-child{
        width: 100%;
        padding: 20px;
      }

      .need_item:last-child{
        width: 100%;
      }

    }

  }

}

@media (max-width: 575px) {

  .may_be_need {
    padding-bottom: 15px;
  }
}
