.news {
  padding-bottom: 45px;

  .container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 20px;

    .block_title {
      font-size: 26px;
      color: var(--new_products);
      font-weight: 700;
      margin-bottom: 20px;
    }


    .news_inner {
      position: relative;

      .prev, .next {
        top: 40%;
      }
    }
  }
}

@media (max-width: 1230px) {

  .news .container .news_inner .news_item {
    max-width: 300px;
    margin: 0 10px;
  }

}

@media (max-width: 990px) {

  .news .container {
    max-width: 730px;
  }

}

@media (max-width: 770px) {

  .news .container {
    max-width: 540px;
  }

}

@media (max-width: 575px) {

  .news {
    padding-bottom: 15px;

    .container {
      max-width: 100%;

      .block_title {
        font-size: 20px;
      }

      .news_inner .news_item {

        max-width: 250px;

        .news_title {
          font-size: 18px;
        }

        .news_img {
          width: 180px;
        }
      }

    }
  }
}
