.slider_template {
  .title {
    font-size: 26px;
    color: var(--new_products);
    font-weight: 700;
    margin-bottom: 20px;
  }

  .slider {
    position: relative;

    .slider_item {
      width: 200px;
      max-width: 200px;
      padding: 210px 15px 10px;
      background-color: var(--body_bg);
      position: relative;
      border-radius: 6px;
      margin: 10px;
      outline: none;

    }

    .slider_item:hover {
      box-shadow: 0 1px 4px 1px var(--product_box_shadow);
    }

    .slider_item:active {
      cursor: grab;
    }

  }
}

@media (max-width: 1230px) {

  .slider_template .slider .slider_item {
    max-width: 170px;
    padding: 200px 5px 10px;
    margin: 10px;

  }
}

@media (max-width: 575px) {

  .slider_template .title {

    font-size: 20px;
    margin-bottom: 10px;

  }

}