.set_password_restore{
  background-color: var(--search_bg);

  .container{
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 100px 15px;

    .set_password_block{
      width: 100%;
      max-width: 320px;
      height: 350px;
      padding: 36px;
      box-shadow: 0 0 4px 1px rgba(0, 0, 0, .2);
      background-color: var(--body_bg);
      margin: 0 auto;
      border-radius: 6px;

      .title{
        text-align: center;
      }

      hr{
        height: .5px;
        opacity: .7;
        background-color: #9FAAB7;
      }

    }


  }

}

@media (max-width: 990px) {
  .set_password_restore .container {
    max-width: 730px;
  }
}

@media (max-width: 770px) {
  .set_password_restore .container {
    max-width: 540px;
  }
}

@media (max-width: 360px) {
  .set_password_restore .container {

    .set_password_block {
      max-width: 100%;
      padding: 20px;
    }

  }
}